@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
    color:black !important;
}
.brand-logo,h2{
    font-family: "Grand Hotel",cursive;
}
body{
    background:rgb(250, 226, 181);
}
.mycard{
margin-top: 10%;
}
.authcard{
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    background:rgb(248, 241, 227);
}
.home-card{
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    margin:20px;
    background:rgb(248, 219, 165);
    text-align: center;
    
    
}
.HomeLayout{
    margin:20px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
}
.close{
    cursor: pointer;
}
.posts{
    height: max-content;
    width: 100%;
}
.input{
    position: fixed;
    bottom: 0;
    margin:20px;
    width: 100%;
    background-color: rgb(250, 248, 248);

}
.line{
  border-left: 2px solid ;
  height:100%;
  position: absolute;
  left: 20%;
  margin-left: -3px;
  top: 0;
}
